/* Fichier: public/assets/css/style.css */

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.card {
    transition: transform 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-primary {
    background-color: #25D366; /* Couleur WhatsApp */
    border-color: #25D366;
}

.btn-primary:hover {
    background-color: #128C7E;
    border-color: #128C7E;
}